{% extends "nav_template.html" %}
{% load static %}
{% block content %}
</br><hr>
		<title> Descriere </title>
		<style>
			body

		</style>
	</head>

	<body>

		<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">	
        		<h3>NWA - Platforma web cu intrebari si raspunsuri</h3>
        </div>
    </div>

    <div class="container">
    <h4>Diaconu Andrei</h4>
    <div class="row">
        <div class="col-sm-3">
        	<img src="{% static "img/diaconu.jpg" %}" class="img-responsive img-thumbnail" alt="Cinque Terre" width="120" height="236"> 
        </div>
        <div class="col-sm-8">
        	<strong>Team Leader (Lead Developer, Lead QA)</strong>
			<li>responsabil de execuția conform standardelor a activităților planificate</li>
			<li>monitorizează activitatea echipei sale</li>
			<li>intervine pentru a corecta, pentru a îndruma (coaching/support)</li>
			<li>raportează managerului statusul real al proiectului</li>
        </div>
    </div>
	</div>

    <div class="container">
    <h4>Siean Alexandru Ionut</h4>
    <div class="row">
        <div class="col-sm-3">
        	<img src="{% static "img/siean.jpg" %}" class="img-responsive img-thumbnail" alt="Cinque Terre" width="120" height="236"> 
        </div>
        <div class="col-sm-8">
        	<strong>Software </strong>
			<li>responsabil de implementarea software a cerințelor</li>
			<li>în metode de dezvolare agile contribuie și la design, arhitectură, specificații</li>
        </div>
    </div>
	</div>

    <div class="container">
    <h4>Nechifor Florin</h4>
    <div class="row">
        <div class="col-sm-3">
        	<img src="{% static "img/nechifor.png" %}" class="img-responsive img-thumbnail" alt="Cinque Terre" width="120" height="236">
        </div>
        <div class="col-sm-8">
        		<strong>Software Developer</strong>
				<li>responsabil de implementarea software a cerințelor</li>
				<li>în metode de dezvolare agile contribuie și la design, arhitectură, specificații</li>
        </div>
    </div>
	</div>

    <div class="container">
    <h4>Posmangiu Ioan</h4>
    <div class="row">
        <div class="col-sm-3">
        	<img src="{% static "img/posmangiu.jpg" %}" class="img-responsive img-thumbnail" alt="Cinque Terre" width="120" height="236">
        </div>
        <div class="col-sm-8">
        		<strong>Tester (Quality Engineer)</strong>
				<li>responsabil de verificarea funcționalităților și a performanțelor produsului</li>
				<li>scrie scenarii de test, le execută, analizează rezultatele ⇒ rapoarte de testare</li>
				<li>elaborarea documentatiei</li>
        </div>
    </div>
	</div>

    <div class="container">
	<h4>Dascalu Alexandru</h4>
    <div class="row">
        <div class="col-sm-3">
        	<img src="{% static "img/dascalu.jpg" %}" class="img-responsive img-thumbnail" alt="Cinque Terre" width="120" height="236"> 
        </div>
        <div class="col-sm-8">
        		<strong>Project manager</strong>
				<li>Planifică & monitorizează evoluția proiectului</li>

				<li>ia decizii</li>
				<li>adesea, are background tehnic (pentru a înțelege ciclul de viață al proiectului)</li>
				<li>întotdeauna, are abilități soft (de conducere, de motivare și stimulare, de conștientizare a cauzelor, de decizie, de negociere, de previziune, de inovație)</li>
				<li>certificări PMI (Project Management Institute): PMP (Project Management Professional)</li>
        </div>
    </div>
	</div>

<div class="row">
    <div class="col"><hr></div>
    <div class="col-auto"><center>NWA</center></div>
    <div class="col"><hr></div>
</div>
     <div class="row">
        <div class="col-sm-offset-3 col-sm-6">	
        		<img src="{% static "img/3of5.jpg" %}" class="img-responsive img-thumbnail" alt="Cinque Terre" width="80%" height="236"> 
        </div>

    </div>

<div class="row">
    <div class="col"><hr></div>
    <div class="col-auto"><center>NWA</center></div>
    <div class="col"><hr></div>
</div>


    <div class="row">
    	<h3>Gestiunea timpului</h3>
<h4>Orice membru al echipei și project manager-ul în special trebuie să aibă skill-uri de organizare a timpului pentru a obține maximum de rezultate. Aspecte precum planificarea task-urilor, stabilirea obiectivelor, evitarea întreruperilor, prioritizarea activităților trebuie avute constant în vedere pentru eficientizarea muncii.
</h4>
<div class="row">
        <div class="col-sm-offset-3 col-sm-6">	
        		<img src="{% static "img/project.png" %}" class="img-responsive img-thumbnail" alt="Cinque Terre" width="80%" height="236"> 
        </div>

    </div>
</div>



{% endblock %}