<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q&A</title>
</head>
<body>
        {% for q in questions %}
        <li> {{ q.text|safe }} -> {{ q.get_answer|safe }} -> {{ q.date|safe }} -> {{ q.author|safe }}</li>
        {% endfor %}
</body>
</html>