{% extends "nav_template.html" %}
{% load static %}
{% block content %}

{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}

<br><br>

<h2> ERROR 404 </h2>
<h4>Page not found !</h4>

<a href="/">Inapoi Acasa</a>

{% endblock %}