{% extends "nav_template.html" %}
{% load static %}
{% block content %}
</br><hr>
<title> faq </title>
<style>
.fancyText{
  color: #131313;
  background-color: #e7e5e4;
  letter-spacing: .20em;
  }>
</style>
<div class="container center">

  
  <div class="row">
      <div class="col-md-8 col-md-offset-5">
        <h2> Toate intrebarile </h2>
      </div>
  </div>

<div id="accordion2" role="tablist" aria-multiselectable="true">
{% for q in questions %}
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <h4 class="fancyText">{{ q.text|safe }}</h4>
        
        </a>
        <hr style=" display: block;
                    height: 2px;
                    border: 0;
                    border-top: 1px solid #bbb;
                    margin: 1em 0;
                    padding: 0; ">

        <p style=" opacity: 0.5;
            filter: alpha(opacity=50); /* For IE8 and earlier */">
            &nbsp;&nbsp;&nbsp;  [Categoria - {{ q.category_id|safe }} ]
            &nbsp;&nbsp;&nbsp;  [Student   - {{ q.author|safe }} ]
            &nbsp;&nbsp;&nbsp;  [Data      - {{ q.date|safe }} ]</p> 
      </h5>
      <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" href="#{{ q.id|safe }}" aria-expanded="false" aria-controls="{{ q.id|safe }}" style="color: black">
      <div id="{{ q.id|safe }}" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
      <hr style=" display: block;
                    height: 2px;
                    border: 0;
                    border-top: 1px solid #bbb;
                    margin: 1em 0;
                    padding: 0; ">
      <h3 >{{ q.text|safe }} ---> {{ q.get_answer|safe }} </h3>

      <hr style=" display: block;
                    height: 2px;
                    border: 0;
                    border-top: 1px solid #bbb;
                    margin: 1em 0;
                    padding: 0; ">
      </div>
    </div>
          <button class="btn-default pull-right" style="margin-right: 20%;"><h5>RASPUNDE</button> </h5></button></a>
          <br>
          <br>
          <br>
          <br>
    </div>
    
  </div>
{% endfor %}
</div>


{% endblock %}