{% extends "nav_template.html" %}
{% load static %}
{% block content %}
<title> Acasa </title>
{% csrf_token %}
</br><hr>
<style>
body {
   background-image: url("{% static "img/main.png" %}");
   background-color: #cccccc;

}
</style>

<h2> Pagina de start NWA-team </h2>
<h3 class="pull-right"> Alege una din optiunile prezentate in meniul de mai sus ! </h3>

{% endblock %}