{% extends "nav_template.html" %}
{% load static %}
{% block content %}
</br><hr>
<title> Login/Register </title>

<form action="postsign" method="post" name="myform">
{% csrf_token %}
<div class="container">
    <div class="row">
    <h3>Login</h3>

        <div class="col-sm-4">
        	Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        	<input type="email" name="email" required>
       </div>
<input type="hidden" name="SignIn" />
       
    </div>
</br>
    <div class="row">
        <div class="col-sm-4">
        	Password :
       
       		<input type="password" name="pass" required>
       	</div>
       	<div class="row">
       		<div class="col-sm-4 float mx-auto">
       		<h4> Nu ai un cont ? </h4>
        	<a href="#" class="btn btn-primary btn-primary"><h5>Inregistreaza-te AICI </h5><span class="glyphicon glyphicon-hand-up"></span></a>
        	</br>
       </div>
       	</div>
    </div>
<input type="submit" value="submit">

<a onClick='document.myform.submit()' class="btn btn-primary btn-primary"><span class="glyphicon glyphicon-user"> Logare utilizator</a>


</div>
</form>


{% endblock %}