<!-- This loads of all of files that you call below from your 'static' folder -->
{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags must come first in the head; any other head content must come after these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src ="https://getbootstrap.com/docs/3.3/assets/js/ie-emulation-modes-warning.js"> </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Intrebari secretariat</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <ul class="nav navbar-nav">
            {% if request.session.role_ != "admin" %}
              <li class="{% if nbar == 'home' %}active{% endif %}"><a href="/">Acasa</a></li>
              <li class="{% if nbar == 'about' %}active{% endif %}"><a href="/about">Despre</a></li>
              <li class="{% if nbar == 'contact' %}active{% endif %}"><a href="/contact">Contact</a></li>
              {% endif %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Links <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="https://www.usv.ro" target="_blank">USV</a></li>
                    <li><a href="https://www.eed.usv.ro" target="_blank">FIESC</a></li>
                    <li><a href="https://www.google.ro" target="_blank">Google</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="https://www.w3schools.com" target="_blank">W3School</a></li>
                    <li><a href="https://www.digitalocean.com/community/tutorials/how-to-install-django-and-set-up-a-development-environment-on-ubuntu-16-04" target="_blank">Django Install</a></li>
                  </ul>
              </li>
             </ul>

            {% if request.session.role_ == "user" %}
              <li class="{% if nbar == 'faq' %}active{% endif %}"><a href="/show_qa">Intrebari</a></li>
              <li> <a>|</a> </li>
              <li class="{% if nbar == 'register' %}active{% endif %}"><a >{{ request.session.username }}</a></li>
              <li class="{% if nbar == 'register' %}active{% endif %}"><a style="color:blue;" href="/logout">Logout</a></li>
             

            {% elif request.session.role_ == "admin" %}
              <li class="{% if nbar == 'faq' %}active{% endif %}"><a href="/show_qa">Intrebari</a></li>
              <li class="{% if nbar == 'add_question' %}active{% endif %}"><a href="/add_question">Adauga Categorie</a></li>
              <li class="{% if nbar == 'add_question' %}active{% endif %}"><a href="/add_question">Adauga Intrebari</a></li>
              <li class="{% if nbar == 'register' %}active{% endif %}"><a style="color:blue;" href="/logout">Logout</a></li>
              <!--<li class="{% if nbar == 'register' %}active{% endif %}"><a href="#">Admin</a></li>-->

            {% else%}
              <li class="{% if nbar == 'register' %}active{% endif %}"><a href="/register">Logare/Inregistrare</a></li>
            {% endif %}
            <li>
                <form class="navbar-form" role="search" action="http://www.google.com/search" target="_blank">
                    <div class="input-group">
                        <input type="text" class="form-control" name="q" size="31" maxlength="255" value="" placeholder="Cauta...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-search">
                                    <span class="sr-only">Cauta...</span>
                                </span>
                            </button>
                        </span>
                    </div>
                </form>

            </li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div class="container">&nbsp;
</div></br>
</div>
</br>

    <div class="container">
        {% block content %}



        {% endblock %}
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/docs/3.3/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://getbootstrap.com/docs/3.3/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>