{% extends "nav_template.html" %}
{% load static %}
{% block content %}

{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}

</br><hr>

<form name="postsign" action="/signin/" method="post">
{% csrf_token %}
<div class="container">
<div class="col-sm-offset-0 col-sm-6">
    <div class="col-sm-offset-0 col-sm-5">
    <input type="hidden" name = "postsign" value="postsign">
    <h3> Logare utilizator </h3></br>
    <div class="row">
        <div class="row">
            <div class="col-sm-4">
                Email:
            </div>
            <div class="col-sm-4">
                <input type="email" name="email" required>
            </div>
        </div>
    </div>
     <br>
    <div class="row">
        <div class="row">
            <div class="col-sm-4">
                Password:
            </div>
            <div class="col-sm-4">
                <input type="password" name="pass" required>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-6">
            &nbsp;
        </div>
        <div class="col-sm-6 pull-right">
           <input type="submit" name="register" value="Autentificare"> <br><br>
        </div>
    </div>
</div>
</form>
</div>
<form name ="register" action="/register/" method="post">
{% csrf_token %}
 <div class="col-sm-offset-0 col-sm-5 ">
    <h3> Inregistrare utilizator nou </h3></br>
    <div class="row">
        <div class="col-sm-4">
            First name:
        </div>
        </br>
        <div class="col-sm-2">
            <input type="text" name="first_name" required>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            Last name:
        </div>
        </br>
        <div class="col-sm-4">
            <input type="text" name="last_name" required> 
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            Email :
        </div>
        </br>
        <div class="col-sm-4">
            <input type="email" name="email" required>
        </div>
    </div>
     <br>
    <div class="row">
        <div class="col-sm-4">
            Password:
        </div>
        </br>
        <div class="col-sm-4">
            <input type="password" name="pass" required>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            &nbsp;
        </div>
        <div class="col-sm-4 pull-right">
           <input type="submit" name="register" value="Inregistrare utilizator"> <br><br>
        </div>
    </div>
</div>


</div>

</form>

{% endblock %}

