{% extends "nav_template.html" %}
{% load static %}
{% block content %}

{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}

<br><br>
<h2>Salut {{ request.session.username }} !</h2>
<h3> Bine ai venit </h3>

<form action="/logout/" method="post" name="myform">
{% csrf_token %}
<input type="hidden" value="logout">


<input type="submit" value="LogOut">
</form>

{% endblock %}