{% extends "nav_template.html" %}
{% load static %}
{% block content %}

{% if msg %}
<script>
    alert('{{msg}}')
</script>
{% endif %}
</br><hr>

{% if request.session.logat == 1 %}

<form action="/add_question/" method="post">
    {% csrf_token %}

    Intrebare:
    <input type="text" name="question" size="100%" required><br><br>
    <!--<textarea id="question" name="question" cols="40" rows="5"></textarea>-->
    <br>
    Raspuns :
    <input type="text" name="answer" size="100%" required><br>
    <!--<textarea id="answer" name="answer" cols="40" rows="5"></textarea>-->
    <br>
    Categorie intrebare: <br>
        <select name="category">
        {% for c in categories %}
        <option> {{ c.name|safe }} </option>
        {% endfor %}
        </select> <br><br>
    <input type="submit" name="add_question" value="Adauga intrebare"> <br><br>
</form>

 <br>
<form action="/add_question/" method="post">
    {% csrf_token %}
    Category: <br><input type="text" name="new_category" required><br>
    <br>
    <input type="submit" name="add_category" value="Adauga categorie">
</form>


{% else %}

<div class="row">
    <h3> Doar administratorii pot accesa aceasta pagina !
    <br> <hr>
    <a href="/">Inapoi la prima pagina  !</a>
    </h3>
</div>

{% endif %}
{% endblock %}
